$lightBg: "https://i.ibb.co/t2ghNcR/light-wood.jpg";
$darkBg: "https://i.ibb.co/HK4jNK4/dark-wood.jpg";

.container {
	margin: 1vw;
	//margin-right: 50px;
    display: flex;
    flex-wrap: wrap;
	gap: 1vw 1vw;
	position: relative;
}

.pentagon-1 {
	position: relative;
	width: 1vw;
	height: 1vw;
	background: {
		//image: url($lightBg);
	}
	clip-path: polygon( 50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%);
}