$lightBg: "https://i.ibb.co/t2ghNcR/light-wood.jpg";
$darkBg: "https://i.ibb.co/HK4jNK4/dark-wood.jpg";
$textileBg: "./assets/pulucBoardBgHq.jpeg";
$dur: 0.5s;

#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100%;
}

.darkCornersOverlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.5);
  background: radial-gradient(transparent 10%, black 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pulucBoard {
  margin: 5%;
  width: 25vw;
  height: 42vw;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  align-items: center;
  justify-content: center;
  position: relative;
}

.backgroundImage {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.overlayContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.fieldBackgroundImage {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.fieldContainer {
  width: 20vw;
  height: 3vw;
  position: relative;
  font-size: 1vw;
}

.startingPoint {
  width: 20vw;
  min-height: 1vw;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.pawnHolder {
  min-height: 3.75vw;
  min-width: 3.75vw;
  border-radius: 50%;
  background: {
    image: url($lightBg);
  }
  display: flex;
  align-items: center;
  justify-content: center;
  rotate: 45deg;
}

// .pawn {
//   max-height: 0.2vw;
//   max-width: 0.2vw;
//   border-radius: 50%;
//   border: 0.5vw solid transparent;
//   padding: 0.75vw;
//   font-size: 1vw;
//   font-weight: 500;
//   font-family: inherit;
//   background-color: red;
//   cursor: pointer;
//   transition: border-color 0.25s;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

.blackPawn {
  max-height: 0.2vw;
  max-width: 0.2vw;
  border-radius: 50%;
  border: 0.5vw solid transparent;
  padding: 0.75vw;
  font-size: 1vw;
  font-weight: 500;
  font-family: inherit;
  background-color: #2E3134;
  cursor: pointer;
  transition: border-color 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.whitePawn {
  max-height: 0.5vw;
  max-width: 0.5vw;
  border-radius: 50%;
  border: 0.5vw solid transparent;
  padding: 0.75vw;
  font-size: 1vw;
  font-weight: 500;
  font-family: inherit;
  background-color: #ebddcc;
  cursor: pointer;
  transition: border-color 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.commandUI {
  display: flex;
  flex-direction: column;
  margin: 1vw;
  padding: 1vw;
  font-size: 1vw;
  background-color: rgba(255,255,255, 0.5);
}

.commandsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.diceRollCommand {
  display: flex;
  margin-right: 1vw;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.infoEndCommand {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
